<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Movies App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <style>
        .card {
            margin: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }

        .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        .card-title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .card-text {
            font-size: 1.2rem;
        }

        .text-muted {
            font-size: 1rem;
        }
    </style>
</head>
<body>
    {% extends 'base.html' %} 
    {% block content %} 
    {% for news in newss %}
    <div class="card mb-3">
      <div class="row g-0">
        <div>
          <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <p class="card-text">{{ news.content }}</p>
            <p class="card-text">
              <small class="text-muted"> {{ news.date }} </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} 
    {% endblock content %}
</body>
</html>
